.env
.venv

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
.env.*
.DS_Store
.vscode/
.idea/
/tests/__pycache__/
/tests/*.pyc
api/__pycache__/
api/*.pyc
api/.venv/
api/tests/__pycache__/
api/tests/*.pyc
src/__pycache__/
src/*.pyc