# This workflow will install Python dependencies and run tests
name: Python CI

on: [push, pull_request]

jobs:
test:
  runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
        architecture: "x64"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Run tests
      run: |
        python test_sample.py
